<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinxing.demo.mapper.BlogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="blogResultMap" type="com.xinxing.demo.pojo.entity.BlogEntity">
        <result column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="title" property="title"/>
        <result column="category" property="category"/>
        <result column="release_time" property="releaseTime"/>
        <result column="status" property="status"/>
    </resultMap>


    <select id="selectBlogPage" resultMap="blogResultMap">
        select * from tb_blog where is_deleted = 0
    </select>


    <select id="exportBlog" resultType="com.xinxing.demo.excel.BlogExcel">
        SELECT * FROM tb_blog ${ew.customSqlSegment}
    </select>

</mapper>
